src/main/mule/s-retrive-firstCoach-routes-schedules-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd "> 
    <apikit:config name="s-retrive-firstcoach-routes-schedules-api-config" api="resource::9e5fe96f-a281-4a54-ba12-7c1cbe04da7a:s-retrive-firstcoach-routes-schedules-api:1.0.0:raml:zip:s-retrive-firstcoach-routes-schedules-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="s-retrive-firstcoach-routes-schedules-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="start-sys-api" doc:id="51282ffd-9025-4d1f-99b6-fe10e76e25cb" message="start flow" />
		<apikit:router config-ref="s-retrive-firstcoach-routes-schedules-api-config" />
		<error-handler ref="global-error-handlerError_Handler">
       <!--      <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate> -->
        </error-handler>
    </flow>
 <!--    <flow name="s-retrive-firstcoach-routes-schedules-api-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="s-retrive-firstcoach-routes-schedules-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow> -->
    <flow name="get:\(transportType)\(transportCompany)\routes:s-retrive-firstcoach-routes-schedules-api-config">
        <!-- <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType">attributes.uriParams.'transportType'</ee:set-variable>
                <ee:set-variable variableName="transportCompany">attributes.uriParams.'transportCompany'</ee:set-variable>
            </ee:variables>
        </ee:transform> -->
        <!-- <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
[
  {
    originLocation: {
      locationCode: "BEN-SG"
    },
    destinationLocation: {
      locationCode: "KLG-MY"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform> -->
		<flow-ref doc:name="call-get-routes" doc:id="ed29951d-1951-4039-8cc6-5eef0dcac336" name="s-get-firstcoach-routes-implementation"/>
		<error-handler ref="global-error-handlerError_Handler" />
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:s-retrive-firstcoach-routes-schedules-api-config">
       <!--  <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType">attributes.uriParams.'transportType'</ee:set-variable>
                <ee:set-variable variableName="transportCompany">attributes.uriParams.'transportCompany'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{
  departureSchedules: [
    {
      availableSeats: 20,
      departureDateTime: "2019-04-30T16:41:41.090Z",
      travelRoute: {
        destinationLocation: {
          locationCode: "KLG-MY"
        },
        originLocation: {
          locationCode: "BEN-SG"
        }
      }
    }, 
    {
      availableSeats: 30,
      departureDateTime: "2019-04-30T16:41:41.090Z",
      travelRoute: {
        destinationLocation: {
          locationCode: "KLG-MY"
        },
        originLocation: {
          locationCode: "BL-SG"
        }
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> -->
		<flow-ref doc:name="call-get-schedules" doc:id="bc4f1938-022a-4e04-8d78-373f0bb9ff8b" name="s-get-firstCoach-schedules-implementation"/>
		<error-handler ref="global-error-handlerError_Handler" />
    </flow>
</mule>
